*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
}

:root{
    --black: #0b0b0b;
    --white: #fff;
    --orange: #be0010;
}

.main{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#0c0c0c,#212121);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main::before{
    content: 'Adventure';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16vw;
    font-weight: 700;
    color: rgba(255,255,255,0.05);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width: 80px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
}
.navigation li a{
    position: relative;
    color: var(--white);
    margin-left: 40px;
    text-decoration: none;
    transition: 0.25s;
}
.navigation li a:hover{
    color: var(--orange); 
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 1;
}
.content h2{
    font-size: 5em;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}
.content h2 span{
    font-weight: 700;
    color: var(--orange);
}
.btn{
    display: inline-block;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25em;
    transition: 0.25s;
}
.btn:hover{
    letter-spacing: 4px;
}
.bike{
    max-width: 70%;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.sci{
    display: flex;
}
.sci li{
    list-style-type: none;
}
.sci li a{
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}
.sci li a:hover{
    color: var(--orange);
}
.dots{
    display: flex;
}
.dots .dot{
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
.dots .dot .active{
   color: var(--white); 
}

.slider .slides{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 100px;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
}

.slider .slides.active{
    opacity: 1;
}
.slider .slides h2{
    color: var(--white);
    font-size: 3em;
}
.slider .slides h2 span{
    color: var(--orange);
    font-size: 0.5em;
    font-weight: 400;
    font-style: italic;
}